{% extends "base.html" %}
{% block content %}

<h2 id="title">Pokémon</h2> 

{% for pokemon in pokemons %}
<body>
<section class="pokemon-list">
    <div class="gallery">
        <img src="/static/images/pikachu.jpeg" alt="Pikachu" width="300" height="200">
      </a>
    </div>
    <p>Pokémon name: <br> {{ pokemon.name }}</p>
    <p>Trainer details: {{ pokemon.trainer }}</p>
    <p>Species: {{ pokemon.species }}</p>
    <p>Date hatched: {{ pokemon.hatched }}</p>
    <p>Assigned Nurse: {{ pokemon.nurse.name }}</p>
    <p>Edit / View Treatment Notes: <a href="/pokemons/{{ pokemon.id }}/edit">Notes</a>
    <form action="/pokemons/{{ pokemon.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>
</body>

{% endfor %}


{% endblock %}