{% extends "base.html" %}
{% block content %}

<h2>Pokemon</h2>

<section>
    <li><a href="/pokemons/new">Add a new Pokemon to registry</a></li>
</section>


{% for pokemon in pokemons %}

<section class="pokemon-list">
    <h3>Pokemon name: {{ pokemon.name }}</h3>
    <p>Trainer details: {{ pokemon.trainer }}</p>
    <p>Species: {{ pokemon.species }}</p>
    <p>Date hatched: {{ pokemon.hatched }}</p>
    <p>Pokemon assigned Nurse: {{ pokemon.nurse.name }}</p>
    <p>Treatment notes: {{ pokemon.notes }}</p>
    <a href="/pokemons/{{ pokemon.id }}/edit">Edit</a>
    <form action="/pokemons/{{ pokemon.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>


{% endfor %}


{% endblock %}