{% extends "base.html" %}
{% block content %}

This is where I can add a new Pokemon.

<h2> Add a new Pokemon</h2>
<form action="/pokemons/new" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="trainer">Trainer:</label>
        <input type="text" id="trainer" name="trainer">
    </div>
    <div>
        <label for="species">Species:</label>
        <input type="text" id="species" name="species">
    </div>
    <div>
        <label for="hatched">Hatched:</label>
        <input type="text" id="hatched" name="hatched">
    </div>
    <!-- <div>
        <label for="nurse">Nurse:</label>
        <input type="text" id="nurse" name="nurse">
    </div> -->
    <label for="nurse">Nurse:</label>
        <select name="nurse_id" id="nurse">
            {% for nurse in nurses %}
        <option value="{{ nurse.id }}"> {{ nurse.name }} </option>
            {% endfor %}
        </select>
        <div>
            <label for="notes">Treatment Notes:</label>
            <input type="text" id="notes" name="notes" value= "{{ pokemon.notes }}">
        </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}